<!DOCTYPE html>
<html>
<head>
    <title>CSV File Comparison</title>
</head>
<body>
    <h1>Upload CSV Files</h1>
    <form action="your_server_side_script" method="post" enctype="multipart/form-data">
        <label for="csvFile1">CSV File 1:</label>
        <input type="file" id="csvFile1" name="csvFile1" accept=".csv"><br>
        <label for="csvFile2">CSV File 2:</label>
        <input type="file" id="csvFile2" name="csvFile2" accept=".csv"><br>
        <input type="submit" value="Compare">
    </form>
</body>
</html>